Repository wallstop/malbolge-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-unused-type-ignores, markdown-link-text

remove-unused-type-ignores:
  name: Remove unused type ignore annotations
  entry: python scripts/remove_unused_type_ignores.py
  language: python
  additional_dependencies:
  - mypy==1.11.2
  stages:
  - pre-commit
  - pre-push
  - manual

markdown-link-text:
  name: Ensure Markdown link text is descriptive
  entry: python scripts/check_markdown_links.py
  language: python
  stages:
  - pre-commit
  - pre-push
  - manual

docs: Add AI Assistance Disclosure to README (#35)
  README.md
Due: markdown-link-text

Consolidate Dependabot updates into grouped PRs
  .github/dependabot.yml
Due: none

Consolidate Dependabot updates into grouped weekly PRs (#40)
  .github/dependabot.yml
Due: none

Stabilize Markdown link CI by separating transient network failures from real broken links (#43)
  scripts/check_markdown_urls.py
  tests/test_markdown_urls.py
Due: remove-unused-type-ignores

refactor: Pythonic idioms in utils.py and encoding.py
  malbolge/encoding.py
  malbolge/utils.py
Due: remove-unused-type-ignores

Path conditions:
  remove-unused-type-ignores: any of: \.py$
  markdown-link-text: any of: \.(md|markdown|mdown)$
