Repository wallstop/malbolge-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-unused-type-ignores, markdown-link-text

remove-unused-type-ignores:
  name: Remove unused type ignore annotations
  entry: python scripts/remove_unused_type_ignores.py
  language: python
  additional_dependencies:
  - mypy==1.11.2
  stages:
  - pre-commit
  - pre-push
  - manual

markdown-link-text:
  name: Ensure Markdown link text is descriptive
  entry: python scripts/check_markdown_links.py
  language: python
  stages:
  - pre-commit
  - pre-push
  - manual

docs: add table of contents and improve contributing section
  README.md
Due: markdown-link-text

docs: add table of contents and improve contributing section (#4)
  README.md
Due: markdown-link-text

Fix CI/CD, cleanup README_APPEND
  README.md
  README_APPEND.md
Due: markdown-link-text

Copilot feedback
  README.md
Due: markdown-link-text

Fix CI/CD, cleanup README_APPEND (#5)
  README.md
  README_APPEND.md
Due: markdown-link-text

Fix ASCCI diagram -> Mermaid
  README.md
Due: markdown-link-text

Fix ASCCI diagram -> Mermaid (#6)
  README.md
Due: markdown-link-text

Rectify documentation / links
  .gitignore
  AGENTS.md
  README.md
  docs/MALBOLGE_PRIMER.md
  docs/TUTORIAL.md
  examples/README.md
  examples/samples/README.md
  examples/trace_analyzer.py
  examples/trace_summary.py
Due: remove-unused-type-ignores, markdown-link-text

PR feedback
  docs/MALBOLGE_PRIMER.md
  tests/test_interpreter.py
Due: remove-unused-type-ignores, markdown-link-text

Rectify documentation / links (#7)
  .gitignore
  AGENTS.md
  README.md
  docs/MALBOLGE_PRIMER.md
  docs/TUTORIAL.md
  examples/README.md
  examples/samples/README.md
  examples/trace_analyzer.py
  examples/trace_summary.py
  tests/test_interpreter.py
Due: remove-unused-type-ignores, markdown-link-text

Add python tests
  .github/workflows/ci.yml
Due: none

Update triggers
  .github/workflows/ci.yml
Due: none

Add macos to runner matrix
  .github/workflows/ci.yml
Due: none

PR feedback
  .github/workflows/ci.yml
  pyproject.toml
Due: none

PR feedback
  pyproject.toml
Due: none

Add python tests to CI/CD (#8)
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Add actionlint
  .github/workflows/actionlint.yml
Due: none

Correct actionlint version
  .github/workflows/actionlint.yml
Due: none

Add actionlint CI/CD (#9)
  .github/workflows/actionlint.yml
Due: none

Add markdown lint
  .github/workflows/markdown.yml
Due: none

CI/CD fixes
  .github/workflows/format.yml
  .github/workflows/markdown.yml
Due: none

Refine the markdown CI/CD (#10)
  .github/workflows/format.yml
Due: none

Add spelling checks
  .codespell-ignorewords.txt
  .codespellrc
  .github/workflows/format.yml
  .pre-commit-config.yaml
Due: none

Add spelling checks (#11)
  .codespell-ignorewords.txt
  .codespellrc
  .github/workflows/format.yml
  .pre-commit-config.yaml
Due: none

Format docs with black
  .github/workflows/format.yml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  docs/MALBOLGE_PRIMER.md
  docs/TUTORIAL.md
Due: markdown-link-text

Format docs with black (#12)
  .github/workflows/format.yml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  docs/MALBOLGE_PRIMER.md
  docs/TUTORIAL.md
Due: markdown-link-text

Add dependabot
  .github/dependabot.yml
Due: none

Add dependabot (#13)
  .github/dependabot.yml
Due: none

More CI/CD
  .github/workflows/coverage.yml
  .github/workflows/security.yml
  .github/workflows/typecheck.yml
Due: none

PR feedback
  .github/workflows/coverage.yml
  .github/workflows/security.yml
  .github/workflows/typecheck.yml
Due: none

More CI/CD (#17)
  .github/workflows/coverage.yml
  .github/workflows/security.yml
  .github/workflows/typecheck.yml
Due: none

GitHub Pages and Wiki fixes
  .github/workflows/docs-and-wiki.yml
  .gitignore
  README.md
  docs/TUTORIAL.md
  docs/assets/trailing-slash.js
  docs/requirements.txt
  mkdocs.yml
  scripts/__init__.py
  scripts/docs/__init__.py
  scripts/docs/build_pages.py
  scripts/wiki/__init__.py
  scripts/wiki/sync_wiki.py
  tests/test_docs_config.py
  tests/test_wiki_sync.py
Due: remove-unused-type-ignores, markdown-link-text

PR feedback
  mkdocs.yml
  tests/test_docs_config.py
Due: remove-unused-type-ignores

PR feedback
  docs/assets/trailing-slash.js
  scripts/docs/build_pages.py
  scripts/wiki/sync_wiki.py
  tests/test_docs_config.py
  tests/test_wiki_sync.py
Due: remove-unused-type-ignores

GitHub Pages and Wiki fixes (#18)
  .github/workflows/docs-and-wiki.yml
  .gitignore
  README.md
  docs/TUTORIAL.md
  docs/assets/trailing-slash.js
  docs/requirements.txt
  mkdocs.yml
  scripts/__init__.py
  scripts/docs/__init__.py
  scripts/docs/build_pages.py
  scripts/wiki/__init__.py
  scripts/wiki/sync_wiki.py
  tests/test_docs_config.py
  tests/test_wiki_sync.py
Due: remove-unused-type-ignores, markdown-link-text

Maybe fix CI/CD
  .github/workflows/docs-and-wiki.yml
Due: none

Maybe fix CI/CD (#19)
  .github/workflows/docs-and-wiki.yml
Due: none

Fix github links
  README.md
  docs/TUTORIAL.md
  mkdocs.yml
  pyproject.toml
  scripts/wiki/sync_wiki.py
Due: remove-unused-type-ignores, markdown-link-text

PR feedback
  tests/test_docs_config.py
Due: remove-unused-type-ignores

Fix github links (#20)
  README.md
  docs/TUTORIAL.md
  mkdocs.yml
  pyproject.toml
  scripts/wiki/sync_wiki.py
  tests/test_docs_config.py
Due: remove-unused-type-ignores, markdown-link-text

Path conditions:
  remove-unused-type-ignores: any of: \.py$
  markdown-link-text: any of: \.(md|markdown|mdown)$
